<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	<div id="sidebar">
            <ul>
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('product.add') }}">product</a></li>
            </ul>
        </div>
        {% block body %}{% endblock %}
        {% block blog %}{% endblock %}
        {% block blog_accueil %}{% endblock %}
         <footer>
            <hr/>
            &copy; hugo
        </footer>
        {% block javascripts %}{% endblock %}
</body>
</html>
